/* PORTADA DE LA PAGINA */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; /* Ajusta la altura a la ventana completa */
    background-image: url('/multimedia/fondoPortada.jpg'); /* Imagen de fondo para la portada */
    background-size: cover;
    text-align: left;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.contenido-portada {
    display: flex;
    align-items: center;
   
}

#tituloPortada {
    font-size: 6em;
    color: #3c4267;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

#subTitulo {
    font-size: 1.5em;
    background-color: #ffdd91;
    color: #3c4267;
    margin-bottom: 20px;
    display: inline-block;
    /* Ajusto el resaltado */
    padding: 10px; 
    border-radius: 10px;
}

#imagenPortada {
    /* Tamaño imagen */
    max-width: 600px; 
    height: auto;
    /* Espacio entre el texto y la imagen */
    margin-left: 20px; 
   
}

/* NAV */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffdd91;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #3c4267;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ESTADISTICAS */

.estadisticas {
    padding: 20px;
    background-color: #f9f9f9; /* Fondo suave para la sección */
    border-radius: 8px; /* Esquinas redondeadas para la sección */
    margin-bottom: 20px; /* Espacio debajo de la sección */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.tituloSecond {
    text-align: center; /* Centrar el título */
    margin-bottom: 50px; /* Espacio debajo del título */
    color: #3c4267; /* Color del texto */
}

.container {
    display: flex; /* Usar flexbox para alinear las cajas */
    justify-content: space-around; /* Espaciado entre las cajas */
}

.box {
    background-color: #ad95a455; /* Fondo amarillo para cada caja */
    padding: 20px; /* Espacio dentro de las cajas */
    border-radius: 10px; /* Esquinas redondeadas para cada caja */
    text-align: center; /* Centrar el contenido de la caja */
    width: 25%; /* Ancho de cada caja */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para las cajas */
}

.box h3 {
    margin: 0; /* Eliminar márgenes del encabezado */
    color: #3c4267; /* Color del texto del encabezado */
}

.box p {
    margin: 10px 0 0; /* Espacio para el párrafo */
    color: #3c4267; /* Color del texto del párrafo */
}


