/* PORTADA DE LA PAGINA */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; /* Ajusta la altura a la ventana completa */
    background-image: url('/multimedia/fondoPortada.jpg'); /* Imagen de fondo para la portada */
    background-size: cover;
    text-align: left;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.contenido-portada {
    display: flex;
    align-items: center;
   
}

#tituloPortada {
    font-size: 6em;
    color: #3c4267;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#subTitulo {
    font-size: 1.5em;
    background-color: #ffdd91;
    color: #3c4267;
    margin-bottom: 20px;
    display: inline-block;
    /* Ajusto el resaltado */
    padding: 10px; 
    border-radius: 10px;
}

#imagenPortada {
    /* Tamaño imagen */
    max-width: 600px; 
    height: auto;
    /* Espacio entre el texto y la imagen */
    margin-left: 20px; 
   
}

/* NAV */

nav{

position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 999;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffdd91;
    text-align: center;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #3c4267;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; 
    transition: color 0.3s ease; 
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #3c4267;
    transition: width 0.3s ease;
}



nav a:hover::after {
    width: 100%; 
}



/* ESTADISTICAS */

.estadisticas {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.tituloSecond {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center; 
    margin-bottom: 50px;
    color: #3c4267; 
}

.container {
    display: flex; 
    justify-content: space-around; 
}

.box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #ad95a455; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
    width: 15%; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 
}

.box h3 {
    margin: 0; 
    color: #3c4267; 
}

.box p {
    margin: 10px 0 0; 
    color: #3c4267; 
}


