.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas flexibles */
    grid-auto-rows: 10px; /* Define una altura base pequeña para cada fila */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
}

.card {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    grid-row: span 30; /* Establece que cada tarjeta ocupe un número variable de filas */
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px; /* Altura fija para la imagen */
    background-image: url('https://www.corteidh.or.cr/images/sample/Como_puedo_realizar_una_denuncia.jpg'); /* Imagen de fondo */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
}

.content {
    padding: 1.1rem;
    flex-grow: 1;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.ver-mas {
    text-decoration: none;
    color: #2563EB;
    position: relative;
}

.ver-mas::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2563EB;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.ver-mas:hover::after {
    width: 100%;
}
